---
# Google C++ Style Guide clang-format configuration
BasedOnStyle: Google

# Language and standard
Language: Cpp

BinPackArguments: false
BinPackParameters: false

# Column limit
ColumnLimit: 80

# Indentation
IndentWidth: 2
UseTab: Never

# Includes
SortIncludes: true
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '.*'
    Priority: 3

# Braces
BreakBeforeBraces: Attach

# Good for readability of large parameter lists
AlignAfterOpenBracket: Align
AlignOperands: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true