---
# Google C++ Style Guide clang-format configuration
BasedOnStyle: Google

# Language and standard
Language: Cpp

IndentWidth: 2
TabWidth: 2
UseTab: Never

# Column limit
ColumnLimit: 80

BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true

# Includes
SortIncludes: true
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '.*'
    Priority: 3

AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
BinPackParameters: false

# Good for readability of large parameter lists
AlignAfterOpenBracket: Align
AlignOperands: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true